.header__left
  = image_tag 'evouove.png'
  .details
    .detail
      = link_to 'トップページ'
    .detail
      = link_to 'EVOUOVEとは'
    .detail
      = link_to '事業内容'
    .detail
      = link_to 'デザイン'
    .detail
      = link_to '会社概要'
    .detail
      = link_to 'お問い合わせ'
.header__right
  .otoi
    お問い合わせーご相談はお気軽にどうぞ
  .denwa
    .tel
      Tel.
    .suuji
      06-6378-7777
      